
body{
font-family: Inter; 
background-color:#E7E8A6;
}

header {
    justify-content:center;
    align-items: center;
}
  
.img1 {
    height: 75%;
    position:relative;
    margin: 0;
}

.img2 {
    height: 75%;
    position:relative;
   
}
.img3 {
    height: 75%;
    position:relative;
}
main a{
    color: #141C11;;
    font-weight: 450;
    text-decoration: none;
}
main a:hover{
    color: #FD8D14;
    text-decoration: underline;
}
.card{
    border-radius: .8rem;
}